.app {
  min-width: 350px;
  display: flex;
  flex-direction: column;
}

.displayContainer {
  border: 1px solid blue;
  text-align: center;
  background-color: azure;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
